.App {
  text-align: left;
}

.App-icon {
  height: 80px;
}

.App-header {
  background-color: #FFFEFF;
  height: 150px;
  margin: 100px
}

.App-title {
  font-size: 4em;
  color: rgb(81, 154, 214);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dark {
  color: rgb(97, 101, 102);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.mp3 {
  margin-left: 117px;
  font-size: 25px;
}