.App {
  text-align: left;
}

.App-icon {
  height: 80px;
}

.App-header {
  background-color: #FFFEFF;
  height: 150px;
  margin: 100px
}

.App-title {
  font-size: 4em;
  color: rgb(81, 154, 214);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dark {
  color: rgb(97, 101, 102);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.mp3 {
  margin-left: 117px;
  font-size: 20px;
}

.select {
  width: 300px;
  margin-left: 117px;
}

/* * * * * * *
 * DROPDOWN  *
 * * * * * * */

 /* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*
// azul: #08acd5;
// verde birllante: #b2ff81;

// blanco: E0E0E2
// otro blanco: FFFEFF

// azul: 0382EC
// azul bajito: 0896FF

// pistache: 05E8AC
// pistache bajito: 81FF83

// negro reac: #222

// 50C6D1
*/